@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Roboto Mono;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

/* Background */
.background {
  background-image: url("../public/assets/bg.png");
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0px;
}

.section-top {
  min-width: 90vw;
  height: 100vh;
  padding: 0px 2vw;
  /* padding-top: 10vh; */
  /* padding-right: 5vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-top {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
}

.section-top-right {
  /* background-color: black; */
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  /* margin-bottom: 5vh; */
}

.img-fluid {
  /* width: 30vw; */
  height: 60vh;
  margin-left: 10vw;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

  /* padding-left: 10vw; */
}

.section-top-left p {
  font-weight: 0;
  font-size: 1.5vw;
  color: white;
  font-family: Roboto Mono;
  position: relative;
}

.section-top-left h1 {
  font-size: 12vw;
  font-weight: 700;
  letter-spacing: 10px;
  font-family: Roboto Mono;
  color: white;
}

.btn-custom {
  background-color: white;
  color: black;
  font-family: Roboto Mono;
  margin-top: 2.5vh;
  font-size: 4vh;
  /* margin-bottom: 25px; */
}

.btn-custom:hover {
  background-color: black;
  color: white;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 21px #fff;
}

/* Timer Component */

.timer-container-bg {
  /* background-color: black; */
}

.timer-container {
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto Mono;
  color: white;
}

.timer-container h1 {
  font-size: 10vh;
}

.timer-container p {
  font-size: 6vh;
}

/* FAQ Component */
.faq-container-bg {
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.accordion-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2.5vh;
}

.accordian-container {
  font-family: Roboto Mono;
  flex-direction: column;
  font-size: 2.5vh;
  padding-left: 15vw;
  padding-right: 15vw;
  display: flex;
  min-width: 600px;
}

.accordian-item {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  font-size: 2.5vh;
}

.accordian-body {
  background-color: white;
  color: black;
}

.faq-container p {
  font-weight: 0;
  color: white;
  font-family: Roboto Mono;
}

.faq-container h3 {
  font-size: 5vw;
  font-family: Roboto Mono;
  color: black;
}

/* Minting Component */
.block-container {
  font-family: Roboto Mono;
  flex-direction: column;
  font-size: 2.5vh;

  margin-left: 30vw;
  margin-right: 30vw;
  margin-bottom: 5vw;

  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
  min-width: 600px;
  
  display: flex;

  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.mint-slider {
  margin-top: 1vw;
}

.block-container p {
  font-size: 2.5vh;
}

.error-msg {
  font-size: 2vh !important;
  color: red;
}

/* Bear Viewer */
.bear-viewer {
  margin-top: 5vh;
}
/* Footer */

.contact-column-left {
  align-items: left;
}

.fa {
  margin-left: 5px;
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  min-height: 20vh;
  min-width: 600px;
  font-family: Roboto Mono;
  color: white;
  font-size: 2.5vh;
}

@media (max-width: 1400px) {
  .img-fluid {
    height: 50vh;
    margin-left: 5vh;
  }
  .section-top {
    height: 90vh;
  }
  .section-top-left p {
    font-size: 2vw;
  }
  /* .timer-container  {
    margin-top: 10vh;
  } */
}

@media (max-width: 1000px) {
  .img-fluid {
    height: 45vh;
    margin-left: 5vh;
  }
  .section-top-left p {
    font-size: 2vw;
  }
  .timer-container p {
    font-size: 5vh;
  }
  .section-top {
    height: 75vh;
  }
  .timer-top {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
  }
}

@media (max-width: 800px) {
  .img-fluid {
    height: 40vh;
    margin-left: 5vh;
  }
  .section-top-left p {
    font-size: 2.5vw;
  }
  .section-top {
    height: 75vh;
  }
}

@media (max-width: 700px) {
  .img-fluid {
    height: 50vh;
    margin-left: 10vh;
    margin-bottom: 5vh;
  }
  .section-top-left h1 {
    margin-top: 3vh;
    font-size: 12vw;
  }
  .section-top-left p {
    font-size: 3vw;
  }
  .timer-container p {
    font-size: 3.5vh;
  }
  .timer-container {
    margin-top: 5vh;
    /* margin-left: 5vh; */
  }
}

@media (max-width: 600px) {
  .section-top-left h1 {
    margin-top: 10vh;
    font-size: 12vw;
  }
  .section-top-left p {
    font-size: 4vw;
  }
  .img-fluid {
    height: 40vh;
    margin-left: 7vh;
    margin-bottom: 5vh;
  }
  .timer-container {
    margin-top: 4vh;
    /* margin-left: 5vh; */
  }
  .timer-container p {
    font-size: 3.5vh;
  }
}

@media (max-width: 500px) {
  .section-top-left h1 {
    margin-top: 5vh;
    font-size: 17vw;
  }
  .section-top-left p {
    font-size: 5vw;
  }
  .img-fluid {
    height: 40vh;
    margin-left: 7vh;
    margin-bottom: 5vh;
  }
  .btn-custom {
    margin-top: 2.5vh;
    font-size: 3vh;
    /* margin-bottom: 25px; */
  }
  .timer-container {
    margin-top: 10vh;
    margin-left: 5vh;
    width: 100vw;
  }
  .timer-container p {
    font-size: 3.4vh;
  }
}

@media (max-width: 400px) {
  .section-top-left h1 {
    margin-top: 5vh;
    font-size: 30vw;
  }
  .section-top-left p {
    font-size: 10vw;
    width: 140vw;
  }
  .img-fluid {
    height: 40vh;
    margin-left: 11vh;
    margin-bottom: 5vh;
  }
  .btn-custom {
    margin-top: 2.5vh;
    font-size: 4vh;
    /* margin-bottom: 25px; */
  }
  .timer-container {
    margin-top: 25vh;
    margin-bottom: 10vh;
    margin-left: 15vh;
    width: 100vw;
  }
  .timer-container p {
    font-size: 5vh;
  }
  .accordion-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 4vh;
  }

  .accordian-container {
    font-family: Roboto Mono;
    flex-direction: column;
    font-size: 4vh;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    min-width: 600px;
  }

  .accordian-item {
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    font-size: 4vh;
  }

  .accordian-body {
    background-color: white;
    color: black;
  }
  .footer {
    font-size: 3vh;
  }
}

@media (max-width: 300px) {
  .section-top-left h1 {
    margin-top: 5vh;
    font-size: 50vw;
  }
  .section-top-left p {
    font-size: 12vw;
    width: 160vw;
  }
  .img-fluid {
    height: 40vh;
    margin-left: 12vh;
    margin-bottom: 5vh;
    margin-top: 5vh;
  }
  .btn-custom {
    margin-top: 2.5vh;
    font-size: 4vh;
    /* margin-bottom: 25px; */
  }
  .timer-container {
    margin-top: 45vh;
    margin-left: 45vw;
  }
  .timer-container p {
    font-size: 4vh;
    width: 100vw;
  }
  .accordion-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 4vh;
  }

  .accordian-container {
    font-family: Roboto Mono;
    flex-direction: column;
    font-size: 4vh;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    min-width: 600px;
  }

  .accordian-item {
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    font-size: 4vh;
  }

  .accordian-body {
    background-color: white;
    color: black;
  }
  .footer {
    font-size: 3vh;
  }
}
